*               text eol=lf
.*              text eol=lf

*.png           binary
*.ico           binary
*.ttf           binary
*.otf           binary

*.md            diff=markdown
*.mrconfig      linguist-language=ini diff=ini

/.github        export-ignore
/docs           export-ignore
/CHANGELOG.md   export-ignore
