@media (prefers-color-scheme: light) {
  body,
  #loader {
    background-color: white;
  }
  #loader img {
    filter: invert(1);
  }

  .font-preview {
    color: black;
  }
  .font-preview.selected {
    background-color: yellow;
  }
}
@media (prefers-color-scheme: dark) {
  body,
  #loader {
    background-color: black;
  }
  #loader img {
    filter: invert(0);
  }

  .font-preview {
    color: white;
  }
  .font-preview.selected {
    background-color: darkorange;
  }
}

body, html {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#loader {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.row {
  width: 100%;
}
.row.columns {
  display: flex;
  overflow-x: auto;
}

.column {
  position: relative;
  border: 1px solid #ddd;
  box-sizing: border-box;
  padding: 10px;
  overflow-y: auto;
}

.filters {
  position: sticky;
  top: 0;
}

input[type="text"],
input[type="search"] {
  width: 100%;
  border: 1px solid #ccc;
  background-color: #eee;
  box-sizing: border-box;
  padding: 10px;
}

#preview-text {
  font-size: 24px;
  text-align: center;
}

#font-name {
  font-size: 14px;
}

#font-list {
  margin-top: 20px;
}

.font-preview {
  font-size: 42px;
  cursor: pointer;
  padding: 5px;
}
.font-preview::after {
  display: none;
  content: attr(title);
}

@media (max-width: 768px){
  .row.columns {
    flex-direction: column;
  }

  .column {
    width: 100%;
    height: calc(100vh * 0.25);
  }
}

@media (min-width: 768px){
  .row.columns {
    flex-direction: row;
  }

  .column {
    width: 25%;
    height: 100vh;
  }
}
